.redesocial img{
    width: 1.875rem;
    height: 1.875rem;
  }

.redesocial ul {
    padding: 1px;
    display: flex;
    justify-content: space-between;
}

.redesocial {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    width: 100%;
    margin-top: 2rem;
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    border-top-left-radius: 125px;
    line-height: 20px;
    border-bottom: 5px solid #000000;
}

.footerSection {
    width: 85%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerSection ul {
    list-style-type: none;
}

.footerSection h3 {
    width: fit-content;
    margin-top: 45px;
    position: relative;
    font-size: 20px; 
}

.logoFooter {
    
    width: 75%;
    align-items: center;
}

.buttonfooter {
      appearance: none;
      background-color: #000000;
      border: 1px solid #1A1A1A;
      border-radius: 10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      margin: 0;
      min-height: 40px;
      min-width: 0;
      outline: none;
      padding: 1px 1px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100%;
      will-change: transform;
      margin-top: 13px;
}
    
.buttonfooter:disabled {
      pointer-events: none;
}
    
.buttonfooter:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 25px;
      transform: translateY(-2px);
}
    
.buttonfooter:active {
      box-shadow: none;
      transform: translateY(0);
}

.fraseImpacto {
    flex-basis: 25%;
    margin-top: 100px;
    font-family: cursive;
}

.contato {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





