*{
  font-family: "poppins", sans-serif;
}
body{
  background-color: #ffffff;
}
.container_img {
  display: flex;
  align-items: center;
  max-width: 350px;
  height: 350px;
  background-color: #EAEEEF;
}

.produto_img{
  max-width: 100%;
  height: auto; 
  object-fit: cover;
}

.flex{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  padding: 0 9.375rem;
  max-width: 100%;
}

.flex_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

.navigation{
  display: flex;
  justify-content: space-between;
  place-items: center;
  gap: 2rem;
  padding: 0.625rem 2rem;
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
}
.logo{
  height: 3.75rem;
}

.nav_links{
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.links a{
  text-decoration: none;
  color: black;
}

.nav_logos{
display: flex;
justify-content: space-between;
gap: 2rem;
}

.nav_logos img{
  width: 1.875rem;
  height: 1.875rem;
}

.nav_logos button{
  background-color: #ffffff;
}

.slide{
  max-width: 100%;
}
.adidas{
  grid-column: 1/3;
}
main{
  margin-top: 2rem;
}

.destaque_title{
text-align: center;
font-size: 2rem;
padding: 2.5rem;
font-family: "poppins", sans-serif;
}
.main_destaque{
  display: flex;
  justify-content: center;
  padding: 0 9.375rem;
  
}
.destaque{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.destaque_itens{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 21.875rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.8rem;
  position: relative;
}

.marca{
  display: flex;
  justify-content: center;
  background-color: grey;
  padding: 1rem;
  margin-top: 2rem;
}

.marca_produtos{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.btn_marcas{
  padding: 10px 16px;
  background-color:black;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
}
.produtos{
  display: flex;
  justify-content: center;

  margin-top: 2rem;
  max-width: 100%;
  padding: 0 9.375rem;
 
  
}
#lista_produtos{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
 
}
.produto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 2rem;
  max-width: 21.875rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  border-radius: 5px;
  padding: 0.8rem;
  position: relative;
}

.produto_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.produtos_flex{
  display: flex;
  width: 100vw;
  justify-content: center;
}
.produtos_fotos{
  width: 70%;
}
.produtos_info {
  background-color: blue;
}


.tamanhos {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo semi-transparente */
  color: white;
  padding: 20px;
  display: none; /* Inicialmente oculta */
  width: 100%; /* Ocupa toda a largura */
  height: 50%; /* Ocupa toda a altura */
  box-sizing: border-box;
}

.tamanhos_info{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
}
.lista_tamanhos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


.produto:hover .tamanhos {
  display: block; /* Exibe quando o mouse está sobre destaque_itens */
}
.lista_tamanhos li {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  list-style: none;
}
.lista_tamanhos a {
  text-decoration: underline;
  text-decoration: none;
  color: black;
}

.lista_tamanhos li:hover {
  background-color: black;
}

.lista_tamanhos li:hover a {
  color:#ffffff;
}

.btn_comprar{
  padding: 1rem;
  background-color: black;
  color: #ffffff;
}

.carrinho_compra{
 display: flex;  
 flex-direction: column;
 gap: 2rem;
 position: fixed;  
 top: 82px;
 right: 0;
 padding: 1rem;
 height: 90%;
 background-color: rgba(255, 255, 255, 0.5);
 overflow-y: scroll;
 z-index: 1;
 transition: transform 0.3s ease-in-out; 
 transform: translateX(100%);
}

.carrinho_compra.carrinho_escondido{
  display: none;
}

.exibir {
  transform: translateX(0); 
}

.carrinho_compra p {
  margin-bottom: 1rem;
  white-space: wrap;
}

.carrinho_itens{
  display: flex;
  justify-content: space-between;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
}

.carrinho_itens img{
 width: 60px;
 height: 60px;
}

.carrinho_info_01{
  flex-direction: column;
  display: flex;
  width: 100%;
}
.carrinho_info_02{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quantidade {
  display: flex;
}

.quantidade button {
  width: 30px;
  height: 30px;
  font-size: large;
  cursor: pointer;
}

.quantidade input {
  width: 50px;
  text-align: center;
}

@media(max-width: 1500px){
  .produto{
    
  } 

  .container_img{
    max-width: 700px;
    display: flex;
    justify-content: center;
  }
  .container_img img{
    margin: 0 auto;
    max-width: 100%;
  }
}

@media (max-width:1024px){
  .produtos{
    padding: 0 6.5rem;
  }
  .flex{
    padding: 0 6.5rem;
  }
  .main_destaque{
    padding: 0 6.5rem;
    max-width: 100% ;
  }
  .destaque{
    justify-content: center;
    max-width: 100%;
    gap: 1rem;
  }
  .destaque_itens{
    width: 100%;
  }

  .destaque_itens_img{
    width: 100%;
  }
}

@media(max-width: 1085px){
  .produto{
    max-width: 300px;
    gap: 1rem;
  } 

  .container_img{
    max-width: 700px;
    display: flex;
    justify-content: center;
  }
  .container_img img {
    margin: 0 auto;
    max-width: 100%; 
}
}

@media(max-width: 985px){
  .flex{
    padding: 0;
    padding-top: 50px;
  }
  .slide{
    max-width: 100%;
    height: auto;
  }
  .nav_links_container{
    display: none;
  }

  .produto{
    max-width: 100%;
    flex-direction: row;
    place-items: center;
    padding: 2rem;  
  } 

  .produto_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container_img{
    max-width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .container_img {
    max-width: 350px;
    height: 250px;
  }

  

}

@media (max-width:430px){
  .flex_container{
    gap: 1rem;
  }

  .flex{
    padding: 0;
    padding-top: 50px;
  }
  .slide{
    max-width: 100%;
    height: auto;
  }
  .nav_links_container{
    display: none;
  }
  .produtos{
    padding: 1rem;
  }
  .produto{
    flex-direction: column;
  }
  .container_img {
    max-width: 100%;
    height: auto ;

}

.tamanhos{
  width: 100%;
}
.main_destaque{
  padding: 1rem;
  max-width: 100% ;
}
.destaque{
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  gap: 1rem;
}
.destaque_itens{
  max-width: 100%;
}


.destaque_itens_img{
max-width: 100%;
}
}




